# Auto detect text files and perform LF normalization
*.java text=auto eol=lf
*.gradle text=auto eol=lf
*.xml text=auto eol=lf
*.json text=auto eol=lf
*.md text=auto eol=lf
*.yml text=auto eol=lf
*.template text=auto eol=lf
*.txt text=auto eol=lf
*.bat text=auto eol=lf
*.gradle text=auto eol=lf
*.sh text=auto eol=lf
*.html text=auto eol=lf
*.settings text=auto eol=lf
*.properties text=auto eol=lf
